<!DOCTYPE html>
<html lang="es">

<head>
    <% include ../partials/head %>
</head>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div id="titol">

            <img src="/logos/medalla-b2.JPG"></img>
            <h1>Medalla de Sant Vicenç 2018 </h1>

          
        </div>
          <p>A continuació podreu veure tots els aspirants a la medalla d'aquest any:</p>
        <div id="container">
          <div id='msgAjax'>MSG</div>
            <% aspirants.forEach(function(aspirant) { %>
                <!--<div class="col-md-10 blogShort">-->

                    <h1><%= aspirant.nom %></h1>
                    <img src="<%= aspirant.foto %>" width=100 height=100 class="pull-left img-responsive thumb margin10 img-thumbnail">

                    <em><a href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation" target="_blank">Votar!</a></em>
                    <article>
                        <p align="justify">
                            <%= aspirant.text %>
                        </p>
                    </article>
                    <div class="more" name="<%=aspirant.nom %>">
                        <p align="justify">
                            <%= aspirant.body %>
                        </p>
                    </div>
                    <button type="button" id="btnVota" value="<%= aspirant._id %>" class="btn btn-lg btn-primary btnVota">Vota!</button>

                    <a class="btn btn-blog pull-right marginBottom10 btn_more" data-punter="<%=aspirant.nom%>">[ SEGUEIX LLEGINT... ]</a>
                <!--</div>-->

                <% }); %>
        </div>

    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
<%include ../partials/scripts %>
    <script>
      function sendAjax(){
        var dni = $("input[name='dni']").val();
        var aspirant_id = $("input[name='aspirant_id']").val();
        $.ajax({
          url:"/votar",
          data:{"dni":dni,"aspirant_id":aspirant_id},
          type:"post",
          success:function(data){

            $("#msgAjax").empty();
            $("#msgAjax").append(data.msg);
            $("#msgAjax").show();
            $("#msgAjax").animate({
                                    opacity: 1,
                                  },3000,function(){
                                    $("#msgAjax").animate({
                                                            opacity: 0,
                                                          },3000)
                                                        });
                                  }
                                  });
          }


      function createDniWindow(id){

        var dniWindow = "<div id='dniWindow'>"
                      +"<form method='post' action='/votar' id='formVota'>"
                      +"<p> D.N.I/N.I.E : <input type='text' title='123456789X o X123456789' name='dni' pattern='(([X-Z]{1})([-]?)(\\d{7})([-]?)([A-Z]{1}))|((\\d{8})([-]?)([A-Z]{1}))' /></p>"
                      +"<input type='hidden' name='aspirant_id' value='"+id+"'/>"
                      +"<p><input type='button' class='btn btn-primary' value='Votar' onclick='sendAjax()' /></p>"
                      +"</form>"
                      +"</div>";
      return dniWindow;
      }
        $(document).ready(function() {
            $("#msgAjax").hide();
            $(".more").hide();
            $(".btn_more").on('click',function(e) {

                var punter = $(this).data('punter');
                //console.log(punter);
                $("div[name='" + punter + "']").toggle(500);
            });
            $(".btnVota").mouseover(function(e){
              if($("#dniWindow")){
                $("#dniWindow").remove();
              }
              var win = createDniWindow($(this).val());
              $(this).after(win);
              $("#dniWindow").hide();
              $("#dniWindow").show(500);
            });

      });
    </script>

</html>
