<!DOCTYPE html>
<html lang="es">

<head>
    <% include ../partials/head %>
</head>
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>

    <main>

        <div class="jumbotron">
        <div id="banner">
            <img src="/logos/svc.svg" width="80" height="100"/>
            <h1>Medalla de Sant Vicenç 2017 </h1>
            <img src="/logos/medalla.svg" width="80" height="100"/>
            <p>Estàs el AdminSite</p>

        </div>
      </div>
        <div class="floats">
        <table class="aspirants">
          <tr class="title1">
            <td colspan="3">Llista d'aspirants a la medalla</td>
          </tr>
          <tr class="title2">
            <td>Nom i Cognoms:</td><td>Vots:</td><td>Operació:</td>
          </tr>
          <% aspirants.forEach(function(aspirant) { %>
            <tr>
              <td><%= aspirant.nom %></td>
              <td><%= aspirant.vots %></td>
              <td><button id="btnRmv" type="button" class="btn btn-danger" name="obj" value="<%= aspirant._id %>">Eliminar</button></td>
            </tr>
            <% }); %>
          </table>
        </div>
        <div class="floats" id="chart_div"></div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
<%include ../partials/scripts %>
<script>
  $("#btnRmv").on('click', function(e){
    console.log("polsat");
    $.ajax({
      data:{"obj":$(this).val()},
      url:"admin/removeAspirant",
      method:"post"
    }).done(function(data){
      alert(data);
    });
  });
</script>
<script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          <% aspirants.forEach(function(aspirant) { %>
          ['<%=aspirant.nom %>', <%=aspirant.vots %>],
         <% }); %>
        ]);

        // Set chart options
        var options = {'title':'Estadistiques en temps real:',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

</html>
